body {
  background-color: #EAF6F6;
}

hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  /*height: 2px;*/
  /*width: 100px; */
  width: 5%;
}

h1, h3 {

    color: #66bfbf;

}
/* img {

  height: 20px;


} */
